click==8.0.3
    # via flask
PyNaCl==1.6.0
flask==2.0.2
    # via -r requirements.in
itsdangerous==2.0.1
    # via flask
jinja2==3.0.2
    # via flask
markupsafe==2.0.1
    # via jinja2
pycryptodome==3.11.0
    # via -r requirements.in
securesystemslib==0.21.0
    # via -r requirements.in
werkzeug==2.0.2
    # via flask
